.navbar{
    background-color: #ff9a76;
}
.activate{
    background-color: #fa7d09;
    border-radius: 10px;
}
.nav-link{
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
}
.container1{
    padding: 2em;
    margin: 4em;
}
.container2{
    padding:4em;
    background-color: #f7c5a8;
}
.card img{
    height: 20em;
}
.bg-image {
  background-image: url("images/coding.JPG");
  height: 100%; 
  padding: 20em;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.77); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.text-type{
  padding: 20px;
  text-align: center;   
}
.content{
    padding: 3em;
    border-radius: 3em;
    background-color: #ffeadb;
    box-shadow: 0px 0px 20px #ff9a76;
}

.gallery-title
{
    font-size: 36px;
    color: #fa7d09;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #ff9a76;
    border-radius: 5px;
    text-align: center;
    color: #ff9a76;
    margin-bottom: 30px;

}
.filter-button:hover
{
    color: white;
    background-color: #ff9a76;

}
.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
    display: inline;
}
.img-responsive{
    width: 20em;
    padding: 1em;
}

